:root {
    --color-soso: pink;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


div{
    background-color: aqua;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}